body {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.emi-section {
	width: 100%;
	float: left;
}
.emi-container h1 {
	color: #0012a0;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 5px;
}
.emi-container p {
	color: #444;
	font-size: 14px;
	font-weight: 500;
}
.emi-container {
	max-width: 870px;
	margin: 0px auto;
	padding: 40px 20px;
	box-shadow: 15px 15px 0px rgba(38, 110, 171, 0.69), 29px 35px 0px rgba(138, 170, 250, 0.66);
	margin-top: 40px;
	border: 1px solid #ccc;
}
.form-container {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.form-container .input-group {
	margin-bottom: 15px;
}
.form-container .form-group {
	margin-bottom: 25px;
}
.box {
    padding: 5px 10px;
    background: linear-gradient(45deg, #518ac4, #8351c4);
    margin-bottom: 48px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 10px #909090;
}
span.input-group-addon {
    background: #21394c;
    color: #fff;
	border-color:#21394c;
}

.box-container {
	width: 100%;
	float: left;
	margin-top: 40px;
}
.transparent-text-box {
    background: transparent;
    border: none;
    font-size: 18px;
    box-shadow: none;
    width: 100%;
    font-weight: bold;
}
.ui-state-active, .ui-widget-content .ui-state-active {
	background: #ddd;
	border: 1px solid #ddd;
}
.ui-widget-header {
	background: #2452c5;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    background-color: #b2c7fc;
}
.pull-right.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 15px;
  padding:0;
}
.card .panel-heading {
  background-color: #21394c;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-size: 24px;
  margin: 0 0 10px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}
.card ul {
    float: left;
    padding: 0;
    width: 100%;
	list-style:none;
	margin:0 0 -5px;
}
.card li {
    display: inline-block;
    width: 100%;
}
.card .transparent-text-box {
  width: 100px;
}
.card li .col-sm-6 {
    padding-top: 2px;
}
.final-result {
  background-color: #21394c;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}